<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    {% block pagename %}
        <h1>Главная страница</h1>
    {% endblock %}
</header>

<nav>
    {% block menu %}
        <p><h3><a href="http://127.0.0.1:8000" >Главная</a></h3></p>
        <p><h3><a href="http://127.0.0.1:8000/reg" >Регистрация</a></h3></p>
        <p><h3><a href="http://127.0.0.1:8000/list" >Список пользователей</a></h3></p>
        <p><h3><a href="http://127.0.0.1:8000/photos" >Фотогалерея</a></h3></p>
    {% endblock %}
</nav>

<main>
    {% block content %}
        <h3 >Это сайт, позволяющий Вам зарегистрироваться, <br>
            с возможностью просмотра списка пользователей"</h3>
    {% endblock %}
</main>

<footer>
        {% block basement %}
        <p>Если что, обращайтесь.</p>
        <p>Наш адрес: Не дом и не улица, Наш адрес: "Советский Союз"</p>
    {% endblock %}
</footer>
</body>
</html>